.btn:link, .btn:visited {
    color: white;
    background-color: #0278FE;
    padding: 13px 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    transition: all .3s ease-in;
    display: block;
}

.btn:hover, .btn:active {
    background-color: #0063D2;
}

@media screen and (max-width: 768px){
    .btn:link, .btn:visited, .btn:hover, .btn:active {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px){
    .btn:link, .btn:visited, .btn:hover, .btn:active {
        font-size: 14px;
    }
}
