.gallery__list {
    list-style: none;
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.gallery__img {
    width: 100%;
}

@media screen and (max-width: 768px){
    .gallery__list {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 320px){
    .gallery__list {
        grid-template-columns: 1fr;
        margin: 0 16px 62px;
    }
}