.cities {
    max-width: 984px;
    margin: 0 auto;
}

.cities__container {
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 80px 0;
    gap: 40px;
}

.cities__author_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cities__author {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.cities__job {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin-bottom: 8px;
}

.cities__btn-box {
    display: flex;
    align-items: flex-start;
}

.cities__text-box {
    grid-row: span 2;
}

.cities__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 25px;
}

.cities__img {
    width: 100%;
}

@media screen and (max-width: 768px){
    .cities__container {
        margin: 88px 16px;
        gap: 28px;
    }

    .cities__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 320px){
    .cities__container {
        grid-template-columns: 100%;
        margin: 62px 16px;
        gap: 30px;
    }

    .cities__img {
        width: 120%;
        margin-left: -10%;

    }

    .cities__author {
        font-size: 16px;
    }
}